# Docker
# Build a Docker image
# https://docs.microsoft.com/azure/devops/pipelines/languages/docker

trigger:
- main

resources:
- repo: self

variables:
  tag: '$(Build.BuildId)'

stages:
- stage: Build
  displayName: Build image
  jobs:
  - job: Build
    displayName: Build
    pool:
      vmImage: ubuntu-latest
    steps:
    - task: Docker@2
      inputs:
          containerRegistry: 'docker-serviceconnection'
          command: 'login'
    - task: Docker@2
      inputs:
        containerRegistry: 'docker-serviceconnection'
        repository: 'ranjithd027/docker_azpipeline'
        command: 'buildAndPush'
        Dockerfile: '**/Dockerfile'

